<div>
  <p>hi i'm the teams<p>
  <% @teams.each do |team| %>
    <div class="card-text">
      <h3><%= team.name %></h3>
        <% team.memberships.each do |member| %>
          <div>
            <%= member.user.name %>
            <%= member.user.email %>
          </div>
        <% end %>
    </div>
    <br>
  <% end %>
  <%= link_to "New Team", new_team_path, class: "button-white-text"%> </p>
<div>
