<br>
<div class="container">
  <h1>Create Team</h1>
</div>
<br>
<div class="container">
  <%= render "new_form", team: @team %>
</div>

<br>

<div class="container">
  <%= link_to "Back to teams", teams_path %>
</div>
