<br>
<div class="container">
  <h1>Create Project</h1>
</div>
<br>
<div class="container">
  <%= render "new_form", project: @project %>
</div>

<br>

<div class="container">
  <%= link_to "Back to projects", projects_path %>
</div>
