<br>
<div class="container">
  <h1>Create Worker</h1>
</div>
<br>
<div class="container">
  <%= render "new_form", worker: @worker %>
</div>

<br>

<div class="container">
  <%= link_to "Back to teams", teams_path %>
</div>
